<div class="cart-container">
  <div *ngIf="cartItems.length > 0; else emptyCart" class="cart-content">
    <div class="cart-items">
      <div *ngFor="let item of cartItems; let i = index" class="cart-item">
        <img [src]="item.image_url" alt="{{ item.name }}" class="item-image" />
        <div class="item-info">
          <div class="item-title">{{ item.name }}</div>
          <div class="item-price">{{ item.price | currency }}</div>
          <button (click)="removeItem(i)" class="remove-button">Remove</button>
        </div>
      </div>
    </div>
    <div class="cart-summary">
      <h2>PRICE DETAILS</h2>
      <div class="summary-item">
        <span>Price ({{ cartItems.length }} items)</span
        ><span>{{ totalPrice | currency }}</span>
      </div>

      <div class="summary-item">
        <span>Delivery Charges</span><span>FREE</span>
      </div>
      <div class="summary-total">
        <span>Total Amount</span
        ><span>{{ totalPrice - discount | currency }}</span>
      </div>

      <div class="summary-item">
        <label for="discountCoupon">Discount Coupon</label>
        <div class="discount-coupon-container">
          <input
            type="text"
            id="discountCoupon"
            [(ngModel)]="discountCoupon"
            placeholder="Enter coupon code"
          />
        </div>
      </div>

      <!-- Display applicable coupon codes -->
      <div class="applicable-coupons" *ngIf="applicableCoupons.length > 0">
        <p>Applicable Coupon Codes:</p>
        <ul>
          <li *ngFor="let coupon of applicableCoupons">{{ coupon }}</li>
        </ul>
      </div>

      <button
        (click)="checkout()"
        type="button"
        class="btn btn-primary checkout-button"
        data-toggle="modal"
        data-target="#myModal"
      >
        PLACE ORDER
      </button>

      <!-- The Modal -->
      <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Order Summary</h4>
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </div>

            <!-- Modal Body -->
            <div *ngIf="orderSuccessful; else orderFailed" class="modal-body">
              <div style="width: auto" class="cart-summary">
                <h2>PRICE DETAILS</h2>
                <div class="summary-item">
                  <span>Order Number </span
                  ><span>{{ orderSummary?.order_id || "" }}</span>
                </div>
                <div class="summary-item">
                  <span> Total Price </span
                  ><span>{{
                    (orderSummary?.original_amount | currency) || ""
                  }}</span>
                </div>
                <div class="summary-item">
                  <span>Discount Value</span
                  ><span>{{
                    (orderSummary?.discount_value | currency) || (0 | currency)
                  }}</span>
                </div>
                <div class="summary-total">
                  <span>Payable Amount</span
                  ><span>{{ (orderSummary?.amount | currency) || "" }}</span>
                </div>
              </div>
            </div>
            <ng-template #orderFailed>
              <div class="modal-body">
                <p>Checkout unsuccessful! Coupon Code is not valid.</p>
                <strong>
                  The coupon code is either not registered or is not valid for
                  you, please retry with the correct code or continue without a
                  code.</strong
                >
              </div>
            </ng-template>

            <!-- Modal Footer -->
            <div class="modal-footer">
              <button
                type="button"
                (click)="cleanup()"
                class="btn btn-danger"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal End -->
    </div>
  </div>
  <ng-template #emptyCart>
    <div class="empty-cart">
      <p>Your cart is empty.</p>
      <strong>
        <a routerLink="/">Click here to add Products</a>
      </strong>
    </div>
  </ng-template>
</div>
